SUPABASE_URL="https://lvlgkafrkrlowgozvavu.supabase.co"
SUPABASE_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx2bGdrYWZya3Jsb3dnb3p2YXZ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQyMjk3NTMsImV4cCI6MjA5OTgwNTc1M30.s4RDBhXiHv51S7Ny6Lt4AH6ctsVPRaPAzvs_5tEnCjE"